<section id="section-testimonial" class="section-page">
	<div class="container">
		<div class="head-section">
			<h2>Blog</h2>
		</div>
    		<div id="testimonial">
			<ul class="list-testimonial">

				
			</ul><!-- /.list-testimonial -->

			<ul class="testimonial-bullets">
        
			</ul><!-- /.testimonial-bullets -->

    		</div><!-- /#testimonial -->
	</div><!-- /.container -->
</section><!-- /#section-testimonial -->