  <div id="section-home" class="section-page">
    <div class="container">
      
    <div class="head-section">
      <h1>REAL ESTATE INVESTMENT MADE EASY</h1>
      <p>UrbanCrowd is a investment platform that allows investors to participate in real estate opportunities with high barriers of entry as well as better diversification of investment portfolios.</p>
      <br />
    <a href="/signup" class="btn btn-success">Join us</a>
    
      
    </div>
    </div>
  </div>