<!-- Carousel -->
  <div id="section-home" class="carousel slide">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#section-home" data-slide-to="0" class="active"></li>
		<li data-target="#section-home" data-slide-to="1"></li>
		<li data-target="#section-home" data-slide-to="2"></li>
	</ol>

	<div class="carousel-inner">
      
		<!-- Carousel Slide 1 -->
		<div id="slide-1" class="item active">
			<div class="container">
				<div class="col-md-6">
					<h2>REAL ESTATE INVESTMENT MADE EASY</h2>
					<p>RealFund is a real estate investment platform that allows investors to 
participate in real estate opportunities with high barriers of entry as well as better diversification of investment portfolios.</p>
					<p><a href="#" class="btn btn-carousel">Join Us</a></p>
				</div><!-- /.col-md-6 -->

				<div class="col-md-6">
					<img alt="" title="" class="img-responsive hidden-xs" src="/assets/carousel/carousel_1.png" data-at2x="/assets/carousel/carousel_1@2.png" style="width: 100% !important;" />
				</div><!-- /.col-md-6 -->
			</div><!-- /.container -->
		</div><!-- /#slide-1 -->

        <!-- Carousel Slide 2 -->
		<div id="slide-2" class="item"> 
			<div class="container">
				<div class="col-md-7">
					<h2>WE DO ALL THE LEG WORK FOR YOU SO THAT YOU DON'T HAVE TO</h2>
					<p>We look for opportunities in the market through wide range of channels and pick the best of the best, nothing second rate will pass our rigorous assessment criteria.</p>
					<a href="#" class="btn btn-carousel">Join Us</a>
				</div><!-- .col-md-7 -->

				<div class="col-md-5 ">
					<img alt="" title="" class="img-responsive hidden-xs" src="/assets/carousel/carousel_2.png" data-at2x="/assets/carousel/carousel_2@2.png" style="width: 100% !important;" />
				</div><!-- /.col-md-5 -->
			</div><!-- /.container -->
		</div><!-- /#slide-2 -->

        <!-- Carousel Slide 3 -->
        <div id="slide-3" class="item">
          <div class="container">
            <h1 style="margin-top: 10%;"><b>OUR TEAM HAS A DIVERSE RANGE OF KNOWLEDGE TO REALISE THE MAXIMUM VALUE OUT OF EACH INVESTMENT</b></h1>
            <p>Real estate, construction, planning, finance, and law. We have it all covered!</p>
            <p><a class="btn btn-carousel" href="#">Join Us</a></p>
          </div><!-- /.container -->
        </div><!-- #slide-3 -->

     </div><!-- /.carousel-inner -->


	<a class="left carousel-control visible-md visible-lg" href="#section-home" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>

	<a class="right carousel-control visible-md visible-lg" href="#section-home" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>

</div><!-- #section-home -->