<section id="section-how" class="section-page">
	<div class="container">

		<div class="head-section">
        		<h1>How UrbanCrowd works</h1>
        		<p>Our vision is simple. We want to create a platform to allow more people to participate in the real estate market with us.</p>
		</div><!-- /.head-section -->
		
		<br />
		<br />
		<div class="row">
			<article id="service_1" class="box-service col-md-4">
				<img alt="" title="Beautifully Simplistic" src="/assets/service_1.png" data-at2x="/assets/service_1@2.png" />
				<h4>Simply Join and Select</h4>
				<p>Unlike traditional funds, choose from a high quality portfolio that you can select individually to meet your investment needs. 
				</p>
			</article><!-- /#service_1 -->

			<article class="box-service col-md-4">
				<img alt="" title="Development Websites" class="retina" src="/assets/service_2.png" data-at2x="/assets/service_2@2.png" />
				<h4>Invest and Sit Back</h4>
				<p>Invest with as little as $10,000 and leave the rest to us while you watch your investment grow online.
				</p>
			</article><!-- /#service_2 -->

			<article class="box-service col-md-4 ">
				<img alt="" title="Free Management & Support" src="/assets/service_3.png" data-at2x="/assets/service_3@.png" />
				<h4>Earn</h4>
				<p>Receive regular dividends (where applicable) from the cashflow of our income-producing properties, and tap into any future capital appreciation.
				</p>
			</article><!-- /#service_3 -->
		</div><!-- .row -->
	</div><!-- .container -->
</section><!-- #section-services -->