<!-- Section Team -->
<section id="section-team" class="section-page">
	<div class="container">

	<div class="head-section">
		<h2>Our Team</h2>
		<p>We are awesome team. We offer creative solutions for every web-based project you can think of. We take pride in our work and everything we create is executed with precision and love.</p>
	</div><!-- /.head-section -->
	<br />
	<div class="row">
		<div id="person_1" class="person col-md-4 col-xs-12 col-sm-6 col-md-4">
			<img alt="" title="" class="person-avatar img-circle"  src="/assets/john.jpg" width=200 height=200  />
			<h4 class="person-name">John So</h4>
			<span class="person-skills">Co-Founder</span>
			<p class="person-description">Investment Banker, Lawyer</p>

			<ul class="list-links-social">
				<li><a href=""><i class="icon-twitter"></i></a></li>
				<li><a href=""><i class="icon-facebook"></i></a></li>
				<li><a href=""><i class="icon-linkedin"></i></a></li>
				<li><a href=""><i class="icon-github"></i></a></li>
				<li><a href=""><i class="icon-dribbble"></i></a></li>
			</ul><!-- /#list-links-social -->
      <br>
      <a href="javascript:;" class="btn" id="john-modal-btn" data-animation="fadeAndPop" data-animationspeed="300" data-closeonbackgroundclick="true" data-reveal-id="modal-john" data-dismissmodalclass="close-reveal-modal">More</a>
		</div><!-- /#person_1 -->

		
		<div id="person_2" class="col-md-4 person col-xs-12 col-sm-6 col-md-4">
			<img alt="" title="" class="person-avatar img-circle" src="/assets/julian" data-at2x="/assets/julian" />
			<h4 class="person-name">Julian Rebechi</h4>
			<span class="person-skills">Co-Founder</span>
			<p class="person-description">Lawyer</p>

			<ul class="list-links-social">
				<li><a href=""><i class="icon-twitter"></i></a></li>
				<li><a href=""><i class="icon-facebook"></i></a></li>
				<li><a href=""><i class="icon-linkedin"></i></a></li>
				<li><a href=""><i class="icon-github"></i></a></li>
				<li><a href=""><i class="icon-dribbble"></i></a></li>
			</ul><!-- /#list-links-social -->
      <br>
      <a href="javascript:;" class="btn" id="julian-modal-btn" data-animation="fadeAndPop" data-animationspeed="300" data-closeonbackgroundclick="true" data-reveal-id="modal-julian" data-dismissmodalclass="close-reveal-modal">More</a>
		</div><!-- /#person_2 -->
		
		<div id="person_3" class="col-md-4 person col-xs-12 col-sm-6 col-md-4">
			<img alt="" title="" class="person-avatar img-circle" src="/assets/persons/person_placeholder.png" data-at2x="/assets/persons/person_4@2.png" />
			<h4 class="person-name">REAL tiny projects</h4>
			<span class="person-skills">Co-Founder</span>
			<p class="person-description">Technology, Investment management, Property valuation</p>

			<ul class="list-links-social">
				<li><a href=""><i class="icon-twitter"></i></a></li>
				<li><a href=""><i class="icon-facebook"></i></a></li>
				<li><a href=""><i class="icon-linkedin"></i></a></li>
				<li><a href=""><i class="icon-github"></i></a></li>
				<li><a href=""><i class="icon-dribbble"></i></a></li>
			</ul><!-- /#list-links-social -->
      <br>
      <a href="javascript:;" class="btn" id="real-tiny-modal-btn" data-animation="fadeAndPop" data-animationspeed="300" data-closeonbackgroundclick="true" data-reveal-id="modal-real-tiny" data-dismissmodalclass="close-reveal-modal">More</a>
		</div><!-- /#person_3 -->
		


	</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /#section-team -->
<script type="text/javascript" charset="utf-8">
$("#john-modal-btn").click(function(){
      $("#modal-john").reveal();
})
$("#julian-modal-btn").click(function(){
      $("#modal-julian").reveal();
})
$("#real-tiny-modal-btn").click(function(){
      $("#modal-real-tiny").reveal();
})
</script>
<div class="reveal-modal xlarge" id="modal-john">
  <a href="javascript:;" class="pull-right close-reveal-modal">x</a>
  <div class="row">
    <div class="col-md-4">
  		<div id="person_1" class="person">
  			<img alt="" title="" class="person-avatar img-circle" src="/assets/john.jpg" width=200 height=200 />
  			<h4 class="person-name">John So</h4>
  			<span class="person-skills">Co-Founder</span>
  			<p class="person-description">Investment Banker, Lawyer</p>

  			<ul class="list-links-social">
  				<li><a href=""><i class="icon-twitter"></i></a></li>
  				<li><a href=""><i class="icon-facebook"></i></a></li>
  				<li><a href=""><i class="icon-linkedin"></i></a></li>
  				<li><a href=""><i class="icon-github"></i></a></li>
  				<li><a href=""><i class="icon-dribbble"></i></a></li>
  			</ul><!-- /#list-links-social -->
  		</div><!-- /#person_1 -->

    </div>
    <div class="col-md-8">
      <p>John is a young professional and real estate investor who started dabbling in property investments the moment he joined the workforce. Since then, he has built a small portfolio of blue chip residential, mixed use and commercial properties in inner city areas around Carlton, Parkville, North Melbourne, West Melbourne and the CBD. John isa believer in investments that have a land component to them, ideally in tightly held locations and proximity to established infrastructure and public transport access. Good cashflow is also important and helpful, but he advocates against comprosing the other criteria just for cashflow.

      In his professional career, John has experience as an investment banker and lawyer, assisting companies and private enterprises undertaking IPOs, takeovers, large investments in listed companies and so forth. He has had stints at Deutsche Bank, King & Wood Mallesons and ANZ. After achieving a perfect score of 99.95 in his VCE, John went on to study at the University of Melbourne, where he obtained two degrees in law and commerce.
      </p>
    </div>
  </div>



</div>
<div class="reveal-modal xlarge" id="modal-julian">
  <a href="javascript:;" class="pull-right close-reveal-modal">x</a>
  <div class="row">
    <div class="col-md-4">
  		<div id="person_1" class="person">
  			<img alt="" title="" class="person-avatar img-circle" src="/assets/julian" width=200 height=200 />
  			<h4 class="person-name">Julian Rebechi</h4>
  			<span class="person-skills">Co-Founder</span>
  			<p class="person-description">Lawyer</p>

  			<ul class="list-links-social">
  				<li><a href=""><i class="icon-twitter"></i></a></li>
  				<li><a href=""><i class="icon-facebook"></i></a></li>
  				<li><a href=""><i class="icon-linkedin"></i></a></li>
  				<li><a href=""><i class="icon-github"></i></a></li>
  				<li><a href=""><i class="icon-dribbble"></i></a></li>
  			</ul><!-- /#list-links-social -->
  		</div><!-- /#person_1 -->

    </div>
    <div class="col-md-8">
      <p>Julian began his property investment pathway when he was in university, working different jobs as an assistant at legal firms and as a tennis coach, to fund his first investment at the age of 20. Since then, Julian has built a property portfolio in the inner city, which has seen some dramatic capital growth over the years. Julian likes to buy well-located properties because he believes the demand driven by population growth, employment opportunities is unparalleled in other regions.

Julian is the General Counsel at Swisse, Australia's leading health and wellness company. His previous role was a lawyer at Freehills Hebert Smith, one of the largest law firms in Asia Pacific. He has also had experience at the two other major law firms in the region. Julian studied law and arts at the University of Melbourne.
      </p>
    </div>
  </div>



</div>
<div class="reveal-modal xlarge" id="modal-real-tiny">
  <a href="javascript:;" class="pull-right close-reveal-modal">x</a>
  <div class="row">
    <div class="col-md-4">
  		<div id="person_1" class="person">
  			<img alt="" title="" class="person-avatar img-circle" src="/assets/persons/person_placeholder.png" width=200 height=200 />
  			<h4 class="person-name">REAL tiny projects</h4>
  			<span class="person-skills">Co-Founder</span>
  			<p class="person-description">Technology, Investment management, Property valuation</p>

  			<ul class="list-links-social">
  				<li><a href=""><i class="icon-twitter"></i></a></li>
  				<li><a href=""><i class="icon-facebook"></i></a></li>
  				<li><a href=""><i class="icon-linkedin"></i></a></li>
  				<li><a href=""><i class="icon-github"></i></a></li>
  				<li><a href=""><i class="icon-dribbble"></i></a></li>
  			</ul><!-- /#list-links-social -->
  		</div><!-- /#person_1 -->

    </div>
    <div class="col-md-8">
      <p>REAL tiny projects began with an interest in property, technology and a passion for the built environment we live and breathe in. Our team is Yun Wei, Zidi and Michelle. Yun Wei's expertise lies in information technology. Really, he is the technology guru of the company. Zidi's experience spans a range of fields including technology, construction, real estate investment and management. Michelle is an active property investor with a background in property valuation. Our expertise stems from a background in technology, property investment and valuation, and urban planning. We formed with a vision to create a better built environment through the power of people who care and not let large institutional investors dictate the growth of our city. 
      </p>
    </div>
  </div>



</div>
