<section id="section-who" class="section-page">
	<div class="container">

		<div class="head-section">
        		<h1>Who is it for</h1>
        		<p>Our vision is simple. We want to create websites and applications with both high quality design and easy-to-access content. The finished product will be totally unique and represent awesomeness.</p>
		</div><!-- /.head-section -->
		
		<br />
		<br />
		<div class="row">
			<article id="service_1" class="box-service col-md-4">
				<img alt="" title="Beautifully Simplistic" src="/assets/service_1.png" data-at2x="/assets/service_1@2.png" />
				<h4>Beautifully Simplistic</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
				</p>
			</article><!-- /#service_1 -->

			<article class="box-service col-md-4">
				<img alt="" title="Development Websites" class="retina" src="/assets/service_2.png" data-at2x="/assets/service_2@2.png" />
				<h4>Development Websites</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
				</p>
			</article><!-- /#service_2 -->

			<article class="box-service col-md-4 ">
				<img alt="" title="Free Management & Support" src="/assets/service_3.png" data-at2x="/assets/service_3@.png" />
				<h4>Free Management & Support</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
				</p>
			</article><!-- /#service_3 -->
		</div><!-- .row -->
	</div><!-- .container -->
</section><!-- #section-services -->