
  <div id="section-home" >
    
    <div id="main-slider">
      <ul class="slides">
        <li >
          <img src="/assets/1.jpg" class="slider-bg">
          <div class="slide-content">
            <div class="container">
              

              <h1>EMPOWERING PEOPLE IN REAL ESTATE
        </h1>
              <p>- REAL tiny projects </p>
              <p>Founded in Melbourne 2013</p>
              <br />
            </div>
          </div>
        </li>
        <li >
          <img src="/assets/2.jpg" class="slider-bg">   
          <div class="slide-content">
            <div class="container">
              

              <h1>EMPOWERING PEOPLE IN REAL ESTATE</h1>
              <div class="pull-right">
                <p>- REAL tiny projects </p>
                <p class="pull-right">Founded in Melbourne 2013</p>
                <div class="clearfix">
                
                </div>
              </div>
              <br />
            </div>
          </div>     
        </li>
      </ul>
    </div>
	</div> 

	<!-- Section Tagline -->
  <!-- <section id="section-tagline" class="section-page">
    <div class="container">
      <h2>A Beautiful and Elegant Template One Page For Studios And Freelancers.</h2>
      <p>We are awesome team. We offer creative solutions for every web-based project you can think of. We take pride in our work and everything we create is executed with precision and love.</p>
    </div>
  </section> -->


	<!-- Section Works -->
	<section id="section-works" class="section-page">
		<div class="container">

		<div class="head-section">
			<h1>Our Projects</h1>
		</div>
		<div class="row">
			<div id="project_1" class="box-project col-xs-12 col-sm-6 col-md-3">
				<a class="prettyPhoto" href="/assets//works/work_placeholder.png">
					<div class="content"><h5>UrbanGem</h5></div>
					<img alt="" title="" class="img-responsive retina" src="/assets//works/work_placeholder.png" data-at2x="/assets//works/work_placeholder.png">
				</a>
        <h4>UrbanGem</h4>
        <p class="desc">UrbanGem is our attempt at building bridges between consumers, businesses, real estate owners and government bodies. The ultimate aim is to shape and grow communities in an efficient and sustainable manner through fostering collaborations between all stakeholders in the community.</p>
			</div><!-- /#project_1 -->

			<div id="project_2" class="box-project col-xs-12 col-sm-6 col-md-3">
				<a class="prettyPhoto" href="/assets//works/work_placeholder.png">
					<div class="content"><h5>UrbanNest</h5></div>
					<img alt="" title="" class="img-responsive retina" src="/assets//works/work_placeholder.png" data-at2x="/assets//works/work_placeholder.png">
				</a>
        <h4>UrbanNest</h4>
        <p class="desc">UrbanNest was created to help buyers identify the most suitable new housing developments in Melbourne. We collect information on all aspects of each development to make sure buyers have access to all the information possible to make a well informed purchase.</p>
			</div><!-- /#project_2 -->

			<div id="project_3" class="box-project col-xs-12 col-sm-6 col-md-3">
				<a class="prettyPhoto" href="/assets//works/work_placeholder.png">
					<div class="content"><h5>UrbanCrib</h5></div>
					<img alt="" title="" class="img-responsive retina" src="/assets//works/work_placeholder.png" data-at2x="/assets//works/work_placeholder.png">
				</a>
        <h4>UrbanCrib</h4>
        <p class="desc">UrbanCrib will be our co-working space initially based in Melbourne. The idea is to create a network of well equipped and fairly priced co-working spaces in locations suitable for startups and small businesses to make their journey in changing the world for the better easier.</p>
			</div><!-- /#project_3 -->
			
			<div id="project_4" class="box-project col-xs-12 col-sm-6 col-md-3">
				<a class="prettyPhoto" href="/assets//works/work_placeholder.png">
					<div class="content"><h5>UrbanCrowd</h5></div>
					<img alt="" title="" class="img-responsive retina" src="/assets//works/work_placeholder.png" data-at2x="/assets//works/work_placeholder.png">
				</a>
        <h4>UrbanCrowd</h4>
        <p class="desc">UrbanCrowd is still in beta right now. It is a platform for crowd-sourcing quality real estate investments in Melbourne. It aims to allow small investor to access quality investments otherwise reserved only for the bigger investors.</p>
			</div><!-- /#project_4 -->

		</div><!-- .row -->
		</div><!-- /.container -->
	</section><!-- /#section-works -->
	<!-- Section Services -->
	<section id="section-services" class="section-page">
		<div class="container">

			<div class="head-section">
          		<h1>What we're about</h1>
          		<p>We might be a small team, but we are a team with diverse skills, our focus is to be the goto technology company for the real estate industry. We work on our own projects, we build partnerships with industry groups, we also lend our techinical team to all the good people out there, for a small fee of course.</p>
			</div><!-- /.head-section -->
			
			<br>
			<br>
			<div class="row">
				<article id="service_1" class="box-service col-md-4">
					<img alt="" title="Beautifully Simplistic" src="/assets//service_1.png" data-at2x="/assets//service_1@2.png">
					<h4>Anything tech</h4>
					<p>We have built at great web development team through the process of making products for the real estate industry. But since we are nice people, we are happy to share that with you.
					</p>
				</article><!-- /#service_1 -->

				<article class="box-service col-md-4">
					<img alt="" title="Development Websites" class="retina" src="/assets//service_2.png" data-at2x="/assets//service_2@2.png">
					<h4>Anything Real Estate</h4>
					<p>We know the real estate market very well from many aspects, and we look to technology to aid us innovate in the real estate industry
					</p>
				</article><!-- /#service_2 -->

				<article class="box-service col-md-4 ">
					<img alt="" title="Free Management &amp; Support" src="/assets//service_3.png" data-at2x="/assets//service_3@.png">
					<h4>Great Ideas</h4>
					<p>We love great ideas no matter where they come from.
					</p>
				</article><!-- /#service_3 -->
			</div><!-- .row -->
		</div><!-- .container -->
	</section><!-- #section-services -->

	<!-- Section Team -->
	<section id="section-team" class="section-page">
		<div class="container">

		<div class="head-section">
			<h1>Team @ REAL tiny projects</h1>
			<p>Meet the faces behind the name. We’re just a bunch of friends who are passionate in real estate and technology.</p>
		</div><!-- /.head-section -->
		<br>
		<div class="row">

			<div id="person_2" class="col-md-3 person col-xs-12 col-sm-6 col-md-4">
				<img alt="" title="" class="person-avatar img-circle" src="/assets//persons/person_placeholder.png" data-at2x="/assets//persons/person_2@2.png">
				<h4 class="person-name">Zidi</h4>
				<span class="person-skills">Co-Founder / </span>
				<p class="person-description">Co-Founder</p>

				<ul class="list-links-social">
					<li><a href=""><i class="icon-twitter"></i></a></li>
					<li><a href=""><i class="icon-facebook"></i></a></li>
					<li><a href=""><i class="icon-linkedin"></i></a></li>
					<li><a href=""><i class="icon-github"></i></a></li>
					<li><a href=""><i class="icon-dribbble"></i></a></li>
				</ul><!-- /#list-links-social -->
			</div><!-- /#person_2 -->

			<div id="person_3" class="col-md-3 person col-xs-12 col-sm-6 col-md-4">
				<img alt="" title="" class="person-avatar img-circle" src="/assets//persons/person_placeholder.png" data-at2x="/assets//persons/person_3@2.png">
				<h4 class="person-name">Christie</h4>
				<span class="person-skills">Co-Founder / Creative Media</span>
				<p class="person-description">jsahfk kjsdhfk</p>

				<ul class="list-links-social">
					<li><a href=""><i class="icon-twitter"></i></a></li>
					<li><a href=""><i class="icon-facebook"></i></a></li>
					<li><a href=""><i class="icon-linkedin"></i></a></li>
					<li><a href=""><i class="icon-github"></i></a></li>
					<li><a href=""><i class="icon-dribbble"></i></a></li>
				</ul><!-- /#list-links-social -->
			</div><!-- /#person_3 -->

			<div id="person_4" class="col-md-3 person col-xs-12 col-sm-6 col-md-4">
				<img alt="" title="" class="person-avatar img-circle" src="/assets//persons/person_placeholder.png" data-at2x="/assets//persons/person_4@2.png">
				<h4 class="person-name">Mish</h4>
				<span class="person-skills">Co-Founder / </span>
				<p class="person-description">Csdkjfdkjd</p>

				<ul class="list-links-social">
					<li><a href=""><i class="icon-twitter"></i></a></li>
					<li><a href=""><i class="icon-facebook"></i></a></li>
					<li><a href=""><i class="icon-linkedin"></i></a></li>
					<li><a href=""><i class="icon-github"></i></a></li>
					<li><a href=""><i class="icon-dribbble"></i></a></li>
				</ul><!-- /#list-links-social -->
			</div><!-- /#person_4 -->

		</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /#section-team -->
	<section id="section-blog" class="section-page">
		<div class="container">
			<div class="head-section">
				<h1>COMMUNITY</h1>
			</div>
      
		
      
		</div><!-- /.container -->
	</section><!-- /#section-faqs -->

	<!-- Section Contact -->
	<section id="section-contact" class="section-page">
		<div class="container">
			<div class="head-section">
				<h1>Contact Us</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
			</div><!-- /.head-section -->
		
			<div id="links-contact">
				<a class="skype" href="#" title=""></a>
				<a class="twitter" href="#" title=""></a>
				<a class="facebook" href="#" title=""></a>
				<a class="linkedin" href="#" title=""></a>
				<a class="google-plus" href="#" title=""></a>
				<a class="dribbble" href="#" title=""></a>
				<a class="github" href="#" title=""></a>
				<a class="instagram" href="#" title=""></a>
			</div><!-- /#links-contact -->
		</div><!-- /.container -->
	</section><!-- /#section-contact -->


	<!-- Footer Page -->
	<footer id="wpdesk-footer-page" class="">
		<div class="container">
			<span class="copyright">© Copyright 2013. Lovinflat Template by <a href="#">Wpdesk</a></span>
		</div><!-- /.container -->
	</footer><!-- /#wpdesk-footer-page -->
	
