
  <div id="section-home" >
    <div class="head-section">
      <div class="container">
        <h2>A Beautiful and Elegant Template One Page For Studios And Freelancers.</h2>
        <p>We are awesome team. We offer creative solutions for every web-based project you can think of. We take pride in our work and everything we create is executed with precision and love.</p>   
      </div>

    </div>
	</div> 

	<!-- Section Tagline -->
  <!-- <section id="section-tagline" class="section-page">
    <div class="container">
      <h2>A Beautiful and Elegant Template One Page For Studios And Freelancers.</h2>
      <p>We are awesome team. We offer creative solutions for every web-based project you can think of. We take pride in our work and everything we create is executed with precision and love.</p>
    </div>
  </section> -->


	<!-- Section Works -->
	<section id="section-works" class="section-page">
		<div class="container">

		<div class="head-section">
			<h2>Our Projects</h2>
			<p>Our vision is simple. We want to create websites and applications with both high quality design and easy-to-access content. The finished product will be totally unique and represent awesomeness.</p>
		</div>
		
		<br>

		<div class="row">
			<div id="project_1" class="box-project col-xs-12 col-sm-6 col-md-3">
				<a class="prettyPhoto" href="/assets//works/work_placeholder.png">
					<div class="content"><h5>UrbanGem</h5></div>
					<img alt="" title="" class="img-responsive retina" src="/assets//works/work_placeholder.png" data-at2x="/assets//works/work_placeholder.png">
				</a>
        <h4>UrbanGem</h4>
        <p class="desc">UrbanGem allows uers vote for the empty shops around their living area incluing they school area, working area. To help shop owners and property owners to decide what kind of business would fit best to the location or what kind of shops people are really eager to have in their everyday life. That opens up and channel between customers and shop owners or even business owners, help them understand each other more efficiently.</p>
			</div><!-- /#project_1 -->

			<div id="project_2" class="box-project col-xs-12 col-sm-6 col-md-3">
				<a class="prettyPhoto" href="/assets//works/work_placeholder.png">
					<div class="content"><h5>UrbanNest</h5></div>
					<img alt="" title="" class="img-responsive retina" src="/assets//works/work_placeholder.png" data-at2x="/assets//works/work_placeholder.png">
				</a>
        <h4>UrbanNest</h4>
        <p class="desc">UrbanNest is a website project the goal of which is to help realestate buyers to easily find out the best and valuable properties and projects around city of melbourne or sydney. We provide high quality property valuation service which enables users to have deep understanding of each detail of a property they might feel interest to buy or invest.</p>
			</div><!-- /#project_2 -->

			<div id="project_3" class="box-project col-xs-12 col-sm-6 col-md-3">
				<a class="prettyPhoto" href="/assets//works/work_placeholder.png">
					<div class="content"><h5>UrbanCrib</h5></div>
					<img alt="" title="" class="img-responsive retina" src="/assets//works/work_placeholder.png" data-at2x="/assets//works/work_placeholder.png">
				</a>
        <h3>UrbanCrib</h3>
        <p class="desc">UrbanCrib is a coworking space located in XXX road, Melbourne.  This coworking space is majorely built and focused on serving startups and developers. As a startup company and a developers based team, we have a great understanding of what are the real needs of startup companies and developer geeks. We believe that every customer who choose us will have comfortable yet excitng working environment which will help them acomplish their .......</p>
			</div><!-- /#project_3 -->
			
			<div id="project_4" class="box-project col-xs-12 col-sm-6 col-md-3">
				<a class="prettyPhoto" href="/assets//works/work_placeholder.png">
					<div class="content"><h5>UrbanCrowd</h5></div>
					<img alt="" title="" class="img-responsive retina" src="/assets//works/work_placeholder.png" data-at2x="/assets//works/work_placeholder.png">
				</a>
        <h3>UrbanCrowd</h3>
        <p class="desc">Coming soon...</p>
			</div><!-- /#project_4 -->

		</div><!-- .row -->
		</div><!-- /.container -->
	</section><!-- /#section-works -->
	<!-- Section Services -->
	<section id="section-services" class="section-page">
		<div class="container">

			<div class="head-section">
          		<h1>Services</h1>
          		<p>Our vision is simple. We want to create websites and applications with both high quality design and easy-to-access content. The finished product will be totally unique and represent awesomeness.</p>
			</div><!-- /.head-section -->
			
			<br>
			<br>
			<div class="row">
				<article id="service_1" class="box-service col-md-4">
					<img alt="" title="Beautifully Simplistic" src="/assets//service_1.png" data-at2x="/assets//service_1@2.png">
					<h4>Web Interface</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
					</p>
				</article><!-- /#service_1 -->

				<article class="box-service col-md-4">
					<img alt="" title="Development Websites" class="retina" src="/assets//service_2.png" data-at2x="/assets//service_2@2.png">
					<h4>Mobile Apps</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
					</p>
				</article><!-- /#service_2 -->

				<article class="box-service col-md-4 ">
					<img alt="" title="Free Management &amp; Support" src="/assets//service_3.png" data-at2x="/assets//service_3@.png">
					<h4>Great Ideas</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
					</p>
				</article><!-- /#service_3 -->
			</div><!-- .row -->
		</div><!-- .container -->
	</section><!-- #section-services -->

	<!-- Section Team -->
	<section id="section-team" class="section-page">
		<div class="container">

		<div class="head-section">
			<h2>Team @ REAL tiny projects</h2>
			<p>Meet the faces behind the name. We’re just a bunch of friends who are passionate in real estate and technology.</p>
		</div><!-- /.head-section -->
		<br>
		<div class="row">

			<div id="person_2" class="col-md-3 person col-xs-12 col-sm-6 col-md-4">
				<img alt="" title="" class="person-avatar img-circle" src="/assets//persons/person_placeholder.png" data-at2x="/assets//persons/person_2@2.png">
				<h4 class="person-name">Zidi Zhao</h4>
				<span class="person-skills">Web Developer / UI Designer</span>
				<p class="person-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>

				<ul class="list-links-social">
					<li><a href=""><i class="icon-twitter"></i></a></li>
					<li><a href=""><i class="icon-facebook"></i></a></li>
					<li><a href=""><i class="icon-linkedin"></i></a></li>
					<li><a href=""><i class="icon-github"></i></a></li>
					<li><a href=""><i class="icon-dribbble"></i></a></li>
				</ul><!-- /#list-links-social -->
			</div><!-- /#person_2 -->

			<div id="person_3" class="col-md-3 person col-xs-12 col-sm-6 col-md-4">
				<img alt="" title="" class="person-avatar img-circle" src="/assets//persons/person_placeholder.png" data-at2x="/assets//persons/person_3@2.png">
				<h4 class="person-name">Christie</h4>
				<span class="person-skills">Web Developer / UI Designer</span>
				<p class="person-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>

				<ul class="list-links-social">
					<li><a href=""><i class="icon-twitter"></i></a></li>
					<li><a href=""><i class="icon-facebook"></i></a></li>
					<li><a href=""><i class="icon-linkedin"></i></a></li>
					<li><a href=""><i class="icon-github"></i></a></li>
					<li><a href=""><i class="icon-dribbble"></i></a></li>
				</ul><!-- /#list-links-social -->
			</div><!-- /#person_3 -->

			<div id="person_4" class="col-md-3 person col-xs-12 col-sm-6 col-md-4">
				<img alt="" title="" class="person-avatar img-circle" src="/assets//persons/person_placeholder.png" data-at2x="/assets//persons/person_4@2.png">
				<h4 class="person-name">Michelle Huang</h4>
				<span class="person-skills">Web Developer / UI Designer</span>
				<p class="person-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>

				<ul class="list-links-social">
					<li><a href=""><i class="icon-twitter"></i></a></li>
					<li><a href=""><i class="icon-facebook"></i></a></li>
					<li><a href=""><i class="icon-linkedin"></i></a></li>
					<li><a href=""><i class="icon-github"></i></a></li>
					<li><a href=""><i class="icon-dribbble"></i></a></li>
				</ul><!-- /#list-links-social -->
			</div><!-- /#person_4 -->

		</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /#section-team -->
	<section id="section-blog" class="section-page">
		<div class="container">
			<div class="head-section">
				<h2>BLOG</h2>
			</div>
      
		</div><!-- /.container -->
	</section><!-- /#section-faqs -->

	<section id="section-faqs" class="section-page">
		<div class="container">
			<div class="head-section">
				<h2>faqs</h2>
			</div>
      
		</div><!-- /.container -->
	</section><!-- /#section-faqs -->

	<!-- Section Contact -->
	<section id="section-contact" class="section-page">
		<div class="container">
			<div class="head-section">
				<h2>Contact Us</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
			</div><!-- /.head-section -->
		
			<div id="links-contact">
				<a class="skype" href="#" title=""></a>
				<a class="twitter" href="#" title=""></a>
				<a class="facebook" href="#" title=""></a>
				<a class="linkedin" href="#" title=""></a>
				<a class="google-plus" href="#" title=""></a>
				<a class="dribbble" href="#" title=""></a>
				<a class="github" href="#" title=""></a>
				<a class="instagram" href="#" title=""></a>
			</div><!-- /#links-contact -->
		</div><!-- /.container -->
	</section><!-- /#section-contact -->


	<!-- Footer Page -->
	<footer id="wpdesk-footer-page" class="">
		<div class="container">
			<span class="copyright">© Copyright 2013. Lovinflat Template by <a href="#">Wpdesk</a></span>
		</div><!-- /.container -->
	</footer><!-- /#wpdesk-footer-page -->