
  <div id="section-home" >
    
    <div id="main-slider">
      <ul class="slides">
        <li >
          <img src="/assets/1.jpg" class="slider-bg">
          <div class="slide-content">
            <div class="container">
              

              <h1>EMPOWERING PEOPLE IN REAL ESTATE
        </h1>
              <p>- REAL tiny projects </p>
              <p>Founded in Melbourne 2013</p>
              <br />
            </div>
          </div>
        </li>
        <li >
          <img src="/assets/2.jpg" class="slider-bg">   
          <div class="slide-content">
            <div class="container">
              

              <h1>EMPOWERING PEOPLE IN REAL ESTATE</h1>
              <div class="pull-right">
                <p>- REAL tiny projects </p>
                <p class="pull-right">Founded in Melbourne 2013</p>
                <div class="clearfix">
                
                </div>
              </div>
              <br />
            </div>
          </div>     
        </li>
      </ul>
    </div>
	</div> 

	<!-- Section Tagline -->
  <!-- <section id="section-tagline" class="section-page">
    <div class="container">
      <h2>A Beautiful and Elegant Template One Page For Studios And Freelancers.</h2>
      <p>We are awesome team. We offer creative solutions for every web-based project you can think of. We take pride in our work and everything we create is executed with precision and love.</p>
    </div>
  </section> -->


	<!-- Section Works -->
	<section id="section-works" class="section-page">
		<div class="container">

		<div class="head-section">
			<h2>Our Projects</h2>
			<p>Our vision is simple. We want to create websites and applications with both high quality design and easy-to-access content. The finished product will be totally unique and represent awesomeness.</p>
		</div>
		
		<br>

		<div class="row">
			<div id="project_1" class="box-project col-xs-12 col-sm-6 col-md-3">
				<a class="prettyPhoto" href="/assets//works/work_placeholder.png">
					<div class="content"><h5>UrbanGem</h5></div>
					<img alt="" title="" class="img-responsive retina" src="/assets//works/work_placeholder.png" data-at2x="/assets//works/work_placeholder.png">
				</a>
        <h4>UrbanGem</h4>
        <p class="desc">UrbanGem allows uers vote for the empty shops around their living area incluing they school area, working area. To help shop owners and property owners to decide what kind of business would fit best to the location or what kind of shops people are really eager to have in their everyday life. That opens up and channel between customers and shop owners or even business owners, help them understand each other more efficiently.</p>
			</div><!-- /#project_1 -->

			<div id="project_2" class="box-project col-xs-12 col-sm-6 col-md-3">
				<a class="prettyPhoto" href="/assets//works/work_placeholder.png">
					<div class="content"><h5>UrbanNest</h5></div>
					<img alt="" title="" class="img-responsive retina" src="/assets//works/work_placeholder.png" data-at2x="/assets//works/work_placeholder.png">
				</a>
        <h4>UrbanNest</h4>
        <p class="desc">UrbanNest is a website project the goal of which is to help realestate buyers to easily find out the best and valuable properties and projects around city of melbourne or sydney. We provide high quality property valuation service which enables users to have deep understanding of each detail of a property they might feel interest to buy or invest.</p>
			</div><!-- /#project_2 -->

			<div id="project_3" class="box-project col-xs-12 col-sm-6 col-md-3">
				<a class="prettyPhoto" href="/assets//works/work_placeholder.png">
					<div class="content"><h5>UrbanCrib</h5></div>
					<img alt="" title="" class="img-responsive retina" src="/assets//works/work_placeholder.png" data-at2x="/assets//works/work_placeholder.png">
				</a>
        <h3>UrbanCrib</h3>
        <p class="desc">UrbanCrib is a coworking space located in XXX road, Melbourne.  This coworking space is majorely built and focused on serving startups and developers. As a startup company and a developers based team, we have a great understanding of what are the real needs of startup companies and developer geeks. We believe that every customer who choose us will have comfortable yet excitng working environment which will help them acomplish their .......</p>
			</div><!-- /#project_3 -->
			
			<div id="project_4" class="box-project col-xs-12 col-sm-6 col-md-3">
				<a class="prettyPhoto" href="/assets//works/work_placeholder.png">
					<div class="content"><h5>UrbanCrowd</h5></div>
					<img alt="" title="" class="img-responsive retina" src="/assets//works/work_placeholder.png" data-at2x="/assets//works/work_placeholder.png">
				</a>
        <h3>UrbanCrowd</h3>
        <p class="desc">Coming soon...</p>
			</div><!-- /#project_4 -->

		</div><!-- .row -->
		</div><!-- /.container -->
	</section><!-- /#section-works -->
	<!-- Section Services -->
	<section id="section-services" class="section-page">
		<div class="container">

			<div class="head-section">
          		<h1>Services</h1>
          		<p>Our vision is simple. We want to create websites and applications with both high quality design and easy-to-access content. The finished product will be totally unique and represent awesomeness.</p>
			</div><!-- /.head-section -->
			
			<br>
			<br>
			<div class="row">
				<article id="service_1" class="box-service col-md-4">
					<img alt="" title="Beautifully Simplistic" src="/assets//service_1.png" data-at2x="/assets//service_1@2.png">
					<h4>Web Interface</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
					</p>
				</article><!-- /#service_1 -->

				<article class="box-service col-md-4">
					<img alt="" title="Development Websites" class="retina" src="/assets//service_2.png" data-at2x="/assets//service_2@2.png">
					<h4>Mobile Apps</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
					</p>
				</article><!-- /#service_2 -->

				<article class="box-service col-md-4 ">
					<img alt="" title="Free Management &amp; Support" src="/assets//service_3.png" data-at2x="/assets//service_3@.png">
					<h4>Great Ideas</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
					</p>
				</article><!-- /#service_3 -->
			</div><!-- .row -->
		</div><!-- .container -->
	</section><!-- #section-services -->

	<!-- Section Team -->
	<section id="section-team" class="section-page">
		<div class="container">

		<div class="head-section">
			<h2>Team @ REAL tiny projects</h2>
			<p>Meet the faces behind the name. We’re just a bunch of friends who are passionate in real estate and technology.</p>
		</div><!-- /.head-section -->
		<br>
		<div class="row">

			<div id="person_2" class="col-md-3 person col-xs-12 col-sm-6 col-md-4">
				<img alt="" title="" class="person-avatar img-circle" src="/assets//persons/person_placeholder.png" data-at2x="/assets//persons/person_2@2.png">
				<h4 class="person-name">Zidi Zhao</h4>
				<span class="person-skills">Web Developer / UI Designer</span>
				<p class="person-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>

				<ul class="list-links-social">
					<li><a href=""><i class="icon-twitter"></i></a></li>
					<li><a href=""><i class="icon-facebook"></i></a></li>
					<li><a href=""><i class="icon-linkedin"></i></a></li>
					<li><a href=""><i class="icon-github"></i></a></li>
					<li><a href=""><i class="icon-dribbble"></i></a></li>
				</ul><!-- /#list-links-social -->
			</div><!-- /#person_2 -->

			<div id="person_3" class="col-md-3 person col-xs-12 col-sm-6 col-md-4">
				<img alt="" title="" class="person-avatar img-circle" src="/assets//persons/person_placeholder.png" data-at2x="/assets//persons/person_3@2.png">
				<h4 class="person-name">Christie</h4>
				<span class="person-skills">Web Developer / UI Designer</span>
				<p class="person-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>

				<ul class="list-links-social">
					<li><a href=""><i class="icon-twitter"></i></a></li>
					<li><a href=""><i class="icon-facebook"></i></a></li>
					<li><a href=""><i class="icon-linkedin"></i></a></li>
					<li><a href=""><i class="icon-github"></i></a></li>
					<li><a href=""><i class="icon-dribbble"></i></a></li>
				</ul><!-- /#list-links-social -->
			</div><!-- /#person_3 -->

			<div id="person_4" class="col-md-3 person col-xs-12 col-sm-6 col-md-4">
				<img alt="" title="" class="person-avatar img-circle" src="/assets//persons/person_placeholder.png" data-at2x="/assets//persons/person_4@2.png">
				<h4 class="person-name">Michelle Huang</h4>
				<span class="person-skills">Web Developer / UI Designer</span>
				<p class="person-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>

				<ul class="list-links-social">
					<li><a href=""><i class="icon-twitter"></i></a></li>
					<li><a href=""><i class="icon-facebook"></i></a></li>
					<li><a href=""><i class="icon-linkedin"></i></a></li>
					<li><a href=""><i class="icon-github"></i></a></li>
					<li><a href=""><i class="icon-dribbble"></i></a></li>
				</ul><!-- /#list-links-social -->
			</div><!-- /#person_4 -->

		</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /#section-team -->

	<!-- Section Skills -->
	<section id="section-skills" class="section-page">
		<div class="container">
			<div class="head-section">
				<h2>Our Skills</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
			</div><!-- /.head-section -->
			
			<div class="row">
				<div class="col-md-6">
					<h4>About Our Skills.</h4>

					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, </p>
				</div><!-- /.col-md-6 -->

				<div class="col-md-6">
					<h4>Skills Team.</h4>
				
					<div id="progress_1">
						<span class="title-progress">Web Desgin ( 90% ) </span>

						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
								<span class="sr-only">90% Complete</span>
							</div><!-- /.progress-bar -->
						</div><!-- /.progress -->
					</div><!-- /#progress_1 --> 

					<div id="progress_2">
						<span class="title-progress">Frond-End Development (60%)</span>

						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
								<span class="sr-only">60% Complete</span>
							</div><!-- /.progress-bar -->
						</div><!-- /.progress -->
					</div><!-- /#progress_2 --> 

					<div id="progress_3">
						<span class="title-progress">Web Development (50%)</span>

						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
								<span class="sr-only">50% Complete</span>
							</div><!-- /.progress-bar -->
						</div><!-- /.progress -->
					</div><!-- /#progress_3 --> 

					<div id="progress_4">
						<span class="title-progress">iOS Development (80%)</span>

						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
								<span class="sr-only">90% Complete</span>
							</div><!-- /.progress-bar -->
						</div><!-- /.progress -->
					</div><!-- /#progress_4 -->

					<div id="progress_5">
						<span class="title-progress">Wordpress Development (80%)</span>

						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
								<span class="sr-only">80% Complete</span>
							</div><!-- /.progress-bar -->
						</div><!-- /.progress -->
					</div><!-- /#progress_5 -->

				</div><!-- /.col-md-6 -->
				<br>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /#section-skills -->
	

	<section id="section-testimonial" class="section-page">
		<div class="container">
			<div class="head-section">
				<h2>Testimonial</h2>
			</div>
      
      		<div id="testimonial">
				<ul class="list-testimonial" style="position: relative;"><li class="cycle-sentinel cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; visibility: hidden; display: block;">
						<p class="testimonial-quote" style="visibility: hidden;">
						“Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.”
						</p>

						<span class="testimonial-source" style="visibility: hidden;"><b style="visibility: hidden;">Ahmed Bouhuolia, Founder <a href="" style="visibility: hidden;">Wpdesk</a></b></span>
					</li>

					<!-- /#testimonial_1 -->

					<!-- /#testimonial_2 -->

					<!-- /#testimonial_3 -->

					<!-- /#testimonial_4 -->

					<!-- /#testimonial_5 -->

					<!-- /#testimonial_6 -->

					<!-- /#testimonial_7 -->

					<!-- /#testimonial_8 -->
					
				<li id="testimonial_1" class="cycle-slide cycle-slide-active" style="position: absolute; top: 0px; left: 0px; z-index: 100; opacity: 1;">
						<p class="testimonial-quote">
						“Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.”
						</p>

						<span class="testimonial-source"><b>Ahmed Bouhuolia, Founder <a href="">Wpdesk</a></b></span>
					</li><li id="testimonial_2" class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 99; display: none;">
						<p class="testimonial-quote">
						“Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.”
						</p>

						<span class="testimonial-source"><b>Ahmed Bouhuolia, Founder <a href="">Wpdesk</a></b></span>
					</li><li id="testimonial_3" class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 97; display: none;">
						<p class="testimonial-quote">
						“Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.”
						</p>

						<span class="testimonial-source"><b>Ahmed Bouhuolia, Founder <a href="">Wpdesk</a></b></span>
					</li><li id="testimonial_4" class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 96; display: none;">
						<p class="testimonial-quote">
						“Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.”
						</p>

						<span class="testimonial-source"><b>Ahmed Bouhuolia, Founder <a href="">Wpdesk</a></b></span>
					</li><li id="testimonial_5" class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 95; display: none;">
						<p class="testimonial-quote">
						“Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.”
						</p>

						<span class="testimonial-source"><b>Ahmed Bouhuolia, Founder <a href="">Wpdesk</a></b></span>
					</li><li id="testimonial_6" class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 94; display: none;">
						<p class="testimonial-quote">
						“Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.”
						</p>

						<span class="testimonial-source"><b>Ahmed Bouhuolia, Founder <a href="">Wpdesk</a></b></span>
					</li><li id="testimonial_7" class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 93; display: none;">
						<p class="testimonial-quote">
						“Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.”
						</p>

						<span class="testimonial-source"><b>Ahmed Bouhuolia, Founder <a href="">Wpdesk</a></b></span>
					</li><li id="testimonial_8" class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 92; display: none;">
						<p class="testimonial-quote">
						“Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.”
						</p>

						<span class="testimonial-source"><b>Ahmed Bouhuolia, Founder <a href="">Wpdesk</a></b></span>
					</li></ul><!-- /.list-testimonial -->

				<ul class="testimonial-bullets">
          
				<span class="cycle-pager-active">•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span></ul><!-- /.testimonial-bullets -->

      		</div><!-- /#testimonial -->
		</div><!-- /.container -->
	</section><!-- /#section-testimonial -->

	<section id="section-clients" class="section-page">
		<div class="container">
			<div class="head-section">
				<h2>Some Of The Companies We Helped</h2>
			</div><!-- /.head-section -->
			
			<div class="row">
				<ul class="list-clients">
					<li class="col-md-2"><a href=""><img alt="" title="" class="img-responsive" src="/assets//clients/client_1.png"></a></li>
					<li class="col-md-2"><a href=""><img alt="" title="" class="img-responsive" src="/assets//clients/client_2.png"></a></li>
					<li class="col-md-2"><a href=""><img alt="" title="" class="img-responsive" src="/assets//clients/client_3.png"></a></li>
					<li class="col-md-2"><a href=""><img alt="" title="" class="img-responsive" src="/assets//clients/client_4.png"></a></li>
					<li class="col-md-2"><a href=""><img alt="" title="" class="img-responsive" src="/assets//clients/client_5.png"></a></li>
					<li class="col-md-2"><a href=""><img alt="" title="" class="img-responsive" src="/assets//clients/client_2.png"></a></li>
				</ul><!-- /.list-clients -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /#section-clients -->

	<!-- Section Contact -->
	<section id="section-contact" class="section-page">
		<div class="container">
			<div class="head-section">
				<h2>Contact Us</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
			</div><!-- /.head-section -->
		
			<div id="links-contact">
				<a class="skype" href="#" title=""></a>
				<a class="twitter" href="#" title=""></a>
				<a class="facebook" href="#" title=""></a>
				<a class="linkedin" href="#" title=""></a>
				<a class="google-plus" href="#" title=""></a>
				<a class="dribbble" href="#" title=""></a>
				<a class="github" href="#" title=""></a>
				<a class="instagram" href="#" title=""></a>
			</div><!-- /#links-contact -->
		</div><!-- /.container -->
	</section><!-- /#section-contact -->


	<!-- Footer Page -->
	<footer id="wpdesk-footer-page" class="">
		<div class="container">
			<span class="copyright">© Copyright 2013. Lovinflat Template by <a href="#">Wpdesk</a></span>
		</div><!-- /.container -->
	</footer><!-- /#wpdesk-footer-page -->
	
