<header id="navigation" class="navbar navbar-default">
	<div class="container">

		 <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
			
			<a id="wpdesk-navbar-brand" class="navbar-brand retina" href="/">
        REAL tiny projects
			</a>
		</div><!-- /#wpdesk-navbar-header -->
	
		<div class="collapse navbar-collapse" id="navbar">

			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="/#section-home">HOME</a></li>
				<li><a href="/#section-works">PROJECTS</a></li>
				<li><a href="/#section-services">SERVICES</a></li>
				<li><a href="/#section-team">TEAM</a></li>
        <li><a href="/#section-blog">BLOG</a></li>
				<li><a href="/#section-faqs">FAQs</a></li>
				<li><a href="/#section-contact">CONTACT US</a></li>
			</ul>

		</div><!--/.nav-collapse -->

	</div><!-- /.container -->
</header>

<script type="text/javascript" charset="utf-8">
<% if request.fullpath=='/' %>
$('.navbar-nav').onePageNav({
	currentClass: 'active',
	changeHash: false,
	scrollSpeed: 750,
	scrollOffset: 94,
	scrollThreshold: 0.1,
	easing: 'swing',
  filter: ':not(.external)'
});
<% else %>
<% end %>
</script>